/*************************
**
** Global CSS for Exotica MC Status
**
**
*************************/

/****************
**
** Page
**
****************/

body {
    background-color: #fbfbfb;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Helvetica, Ariel, sans-serif;
    font-size: 12pt;
}

div.wrapper {
    margin: 20px 50px 20px 50px;
}

/****************
**
** Text
**
****************/

a, a:visited {
    text-decoration: none;
    color: #0000dd;
}

a:hover, a:visited:hover {
    color: #dd0000;
}

h1 {
    font-size: 32pt;
    color: #000000;
}

h2 {
    font-size: 24pt;
    background-color: #84a4aa;
    color: #000000;
    padding: 6pt;
    margin-top: 24pt;
}

div.toc h2 {
    font-size: 18pt;
    background-color: #fbfbfb;
    color: #000000;
    padding: 0px;
    margin-bottom: 10pt;
    margin-top: 0px;
}

li {
    margin: 10pt 0pt 10pt 0pt;
}

div.update-time {
    color: #999999;
    font-size: 10pt;
    font-style: italic;
    margin: 15pt 0 15pt 0;
}

/****************
**
** Table
**
****************/

table {
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background: #ffffff;
}

tbody tr:nth-child(even) {
    background: #dddddd;
}

thead {
    border-bottom: 2px solid black;
}

thead tr {
    background-color: #c0bcb9;
    color: #000000;
}

th {
    padding: 8pt 2pt 6pt 2pt;
}

td {
    padding-top: 8px;
    padding-bottom: 8px;
}

th.lhe, th.gs, th.dr, th.miniaod, th.miniaodv2 {
    min-width: 100px;
}

th.notes {
    padding-right: 5pt;
}

td.lhe, td.gs, td.dr, td.miniaod, td.miniaodv2 {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

td.process, td.tag, td.requester, td.contact, td.events {
    padding-left: 5pt;
    padding-right: 5pt;
}

/****************
**
** Bar charts
**
****************/

svg.status {
    margin-top: -18px;
}

rect.new, path.new {
    fill: #ccccff;
    stroke-width: 0;
}

rect.validating, path.validating {
    fill: #cc99ff;
    stroke-width: 0;
}

rect.validated, path.validated {
    fill: #6ba6e8;
    stroke-width: 0;
}

rect.defined, path.defined {
    fill: #52fbc4;
    stroke-width: 0;
}

rect.approved, path.approved {
    fill: #ffeba4;
    stroke-width: 0;
}

rect.submitted, path.submitted {
    fill: #ffc570;
    stroke-width: 0;
}

rect.done, path.done {
    fill: #66aa66;
    stroke-width: 0;
}

rect.absent, path.absent {
    fill: #727272;
    stroke-width: 0;
}

rect.extra, path.extra {
    fill: #cc0000;
    stroke-width: 0;
}

g.tooltip text {
    font-size: 13px;
}

/****************
**
** Sprites
**
****************/

span.spreadsheet_icon {
    display: block;
    width: 30px;
    height: 30px;
    background: url(sprites.png) -6px -6px;
    margin: auto;
}

span.spreadsheet_icon:hover {
    background: url(sprites.png) -48px -6px;
}

span.note_icon {
    display:block;
    width: 30px;
    height: 30px;
    background: url(sprites.png) -6px -48px;
    margin: auto;
}

span.note_icon:hover {
    background: url(sprites.png) -48px -48px;
}

span.note_content {
    display: none;
    background-color: #f2f2ee;
    border: 1px solid;
    border-color: #000000;
    position: absolute;
    padding: 7px;
    -moz-transform: translateX(-100%) translateY(-15px);
    -ms-transform: translateX(-100%) translateY(-15px);
    -webkit-transform: translateX(-100%) translateY(-15px);
    -o-transform: translateX(-100%) translateY(-15px);
    transform: translateX(-100%) translateY(-15px);
}
