/*************************
**
** Global CSS for Exotica MC Status
**
**
*************************/

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Helvetica, Ariel, sans-serif;
    font-size: 12pt;
}

div.wrapper {
    margin: 20px 50px 20px 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #ffffff;
}

tr:nth-child(odd) {
    background: #dddddd;
}

tr.table_header {
    background-color: #999999;
    border-bottom: 2px solid black;
    text-color: #ffffff;
}

th {
    padding: 2px;
}

td {
    padding: 8px 2px 8px 2px;
}

th.lhe, th.gs, th.dr, th.miniaod, th.miniaodv2 {
    min-width: 100px;
}

td.lhe, td.gs, td.dr, td.miniaod, td.miniaodv2 {
    /*text-align: center;*/
}

p.update-time {
    color: #999999;
    font-size: 0.8em;
    font-style: italic;
}

img {
    border: 0px;
}

img.spreadsheet_icon {
    width: 21px;
    height: 21px;
}

svg.status {
    margin-top: -18px;
}

rect.new, path.new {
    fill: #ccccff;
    stroke-width: 0;
}

rect.validating, path.validating {
    fill: #cc99ff;
    stroke-width: 0;
}

rect.validated, path.validated {
    fill: #6ba6e8;
    stroke-width: 0;
}

rect.defined, path.defined {
    fill: #52fbc4;
    stroke-width: 0;
}

rect.approved, path.approved {
    fill: #ffeba4;
    stroke-width: 0;
}

rect.submitted, path.submitted {
    fill: #ffc570;
    stroke-width: 0;
}

rect.done, path.done {
    fill: #66aa66;
    stroke-width: 0;
}

rect.unknown, path.unknown {
    fill: #727272;
    stroke-width: 0;
}

g.tooltip text {
    font-size: 13px;
}

div.spreadsheet_icon {
    width: 32px;
    height: 32px;
    background: url(sprites.png) -5px -5px;
}

td.spreadsheet a:hover {
    text-decoration: none;
}